*{
    box-sizing: border-box;
    
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: grey;
}
h3{
    font-weight: bold;
}
.forecast{
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
footer {
    margin-top: 20px;
}

#current-weather {
    background-color: #f8f9fa;
}

.current.bg-yellow.rounded.py-2.px-2.text-black {
    background-color: yellow;
    color: black;
  }


.jumbotron {
    background-image: url("https://wallpapercave.com/wp/qQa5Pd7.jpg");
    background-position:center;
    background-repeat: no-repeat;
    height: 300px;
}